include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft page_rating
global-exclude *.orig *.pyc *.log *.swp
prune page_rating/tests/coverage
prune page_rating/.ropeproject
